.diff
{
  font-family:monospace;
}

.diff .change-Added
{
  color: lightgreen;
}
.diff .change-Removed
{
  color: lightcoral;
}

.diff .change-Replaced
{
  color: rgb(105, 172, 155);
}

.diff .change-Changed,
.diff .change-Same
{
  color: grey;
}

.diff .block
{
  display:block;
}
