.diff
{
  font-family:monospace;
}

.diff .change-Added
{
  background-color: rgb(13, 57, 32);
  color: white;
}
.diff .change-Removed
{
  background-color: rgb(94, 23, 23);
  color: white;
}
.diff .change-Changed,
.diff .change-Same
{
  color: grey;
}

.diff .block
{
  display:block;
}
