:root 
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body 
{
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

header
{
  display:flex;
  align-items:center;
  justify-content:end;
  gap:.5rem;
}
header .header-info
{
  text-align:end;
  order:-1;
  color:#484848;
  margin-bottom:.5rem;
}
header .header-info em
{
  color:grey;
  font-style:normal;
}
header .header-info a:hover em
{
  color:#C4C4C4;
}

h1
{
  font-weight: 100;
  font-variant: petite-caps;
  padding: 0 .5rem;
  text-align: end;
}
h1 .pretitle
{
  font-size:.66em;
  color:grey;
}
nav h1
{
  padding: 0;
  text-align: start;
}
h2
{
  font-weight: 100;
  font-variant: petite-caps;
  text-shadow: 1px 1px 1px #181818;
  background: linear-gradient(90deg, #181818 0%, #242424 10em);
  border-top: .5em solid #181818;
  border-bottom: 4px solid #242424;
  margin: .5em 0 .5em;
  padding-left: .5rem;
}
h2:first-child
{
  margin-top: 0;
}
h3
{
  font-variant: petite-caps;
  padding: 0 .5rem;
  margin: 1em 0 .5em;
  background-color: #181818;
  display: flex;
  align-items: center;
  font-weight: 400;
}

h3::after
{  
  content: "";
  background: linear-gradient(90deg, #181818 0%, #242424 10em);
  margin-left: 1rem;
  height: 4px;
  flex-grow: 1;
}

h2
{
  z-index: 1;
  position:sticky;
  top:0;
}
h3
{
  z-index: 0;
  position:sticky;  
  top: 2.8em;
}

ul
{
  padding-left:1.5em;
}

a {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.maintitle
{
  margin: auto;
  padding: 0 1rem;
}
.maintitle h1
{
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  margin:0;
}
.maintitle h1 + p
{
  text-align: center;
}

.panel 
{
  background-color: #181818;
  padding:.5rem;
  margin:.5rem 0;
  border-bottom: 1px solid #000;
  position: relative;
}
main.panel
{
  flex-grow: 1;
  flex-shrink: 1;
}
main h1:first-child,
aside h1:first-child
{
  margin: 0 0 .5rem 0;
  height:3rem;
  line-height:3rem;
  overflow:hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
main.panel,
aside.panel
{
  display:flex;
  flex-direction: column;
  min-width:25rem;
}
main.panel section,
aside.panel section
{
  overflow: auto scroll;
  scrollbar-width: thin;
}

aside.panel
{
  width:25rem;
  flex-grow:0;
  flex-shrink:0;
}

nav.panel 
{
  width:20rem;
}
@media (min-width:70rem) 
{
  nav.panel 
  {
    width:25rem;
  }
}

.mainnav
{
  height:10rem;
}
.mainnav > .navtree
{
  margin:0;
}
@media (min-height:30rem) 
{
  .mainnav
  {
    height:15rem;
  }
}
@media (min-height:45rem) 
{
  .mainnav
  {
    height:20rem;
  }
}

.major
{
  color:goldenrod;
}
.minor 
{
  color:grey;
}
.oneline
{
  white-space: nowrap;
}